apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: telegram-farm
  labels:
    app: redis
spec:
  clusterIP: None
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  selector:
    app: redis


