apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: telegram-farm
  labels:
    app: postgres
spec:
  clusterIP: None
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres
  selector:
    app: postgres


